html
    body
        h1 LOGIN PAGE
        hr
        p #{error}
        form(action="/login" method="post")
            label Enter your Registration number ::
            br 
            label Registration number:
            br
            input(type="text" name="Name")
            br
            label Password:
            br
            input(type="password" name="Password")
            input(type="submit")
            hr